h1{
    background-color: rgb(201, 231, 231);
    border: 2px solid black;
    color: rgb(23, 4, 48);
    

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: inherit;
    font-size: small;
    padding: 10px;
}