<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
{%include 'header.html'%}


<form class="form-control" action="signcheck" method="POST">
    {%csrf_token%}
<h1>Login form</h1>
<input type="text" placeholder="enter your email" class="form-control" name="username">    <br><br>
<input type="password" placeholder="enter the password" class="form-control" name="password">    <br><br>

    <button type="submit" class="btn btn-success">submit</button>

</form>
</body>
</html>